/*===============Gerais===============*/
*{
    padding: 0;
    margin: 0;
}
body {
    font-family: Lato, sans-serif;    
}
/*===============Container de Navegação===============*/
.container-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 8vh;
    align-items: center;
    background-color: #E0E0E0;    
}
.container img {
    height: 50%;
}
.hamburguer-img {
    display: none;
}
.container-title {
    font-size: 1em;
}
/*===============Menu===============*/
nav.navegacao.hamburguer {
    background-color: white;
    border-radius: 2px;
}
.navegacao ul {
    list-style-type: none; 
    display: flex;
    border-radius: 3px;
    margin: 10px;
}
.navegacao ul li a {
    color: black;
    text-decoration: none;
    margin-right: 10px;
    font-weight: bolder;
}
.navegacao ul li:nth-child(2) {
    border-left: solid 1px black;
    border-right: solid 1px black;
    margin: 0px 10px;
    padding: 0px 10px;
}
#nav ul li:hover {
    background-color: #c4c4c4;    
}
#nav ul li a:hover {
    cursor: pointer;
    color: black;   
}
.sidenav {
    display: none;
}

/*===============Conteudo===============*/
.conteudo {
    display: flex;  
    justify-content: space-evenly;
    width: 100%;
    padding-top: 40px;
}
.conteudo-titulo {
    text-align: center;
    margin: 20px;
    font-size: 1.1em;
}
/*===============Formulario===============*/
.formulario {
    border: 1px solid #979797;
    display: flex;
    flex-direction: column;
    width: 35%; 
    border-radius: 5px;
}
.selecao-form {
    display: flex;
    flex-direction: column;
    margin: 15px;
}
input, select {
    padding: 0.7em;
    border: 1px solid #979797;
    border-radius: 5px;  
}
.btn {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.7em;
    width: 100%;
    margin-top: 20px;
}

/*===============Extrato===============*/
.extrato {
    display: flex;
    flex-direction: column;
    width: 55%;
}
.descricao-extrato {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    border-bottom: 1px solid #979797;
}
.linha-extrato{
    border-bottom: 1px solid #979797;
    display: flex;
    justify-content: space-between;
    padding: 10px;    
}
.total-valor {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-top: 10px;
    margin-top: 5px;
    border-top: 1px solid #979797;
}
.resultado {
    text-align: right;
}
em {
    color: red;    
    font-weight: bolder;
    text-align: center;
}
/*======================Responsividade======================*/
/*======================Tablet======================*/
@media (max-width: 800px) {
    /*Menu Responsivo*/
    .hamburguer-img {
        display: flex;
    }
    /*Menu*/
    #nav,.sidenav {display: none;}

    .sidenav, .sidenav ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        margin: 0;
        right: 0;
        top: 0;
        height: 100%;
        width: 35%;
        background-color: #333333;   
        list-style-type: none; 
        transition: 0.5s;
    }
    .sidenav ul li {
        padding: 10px 0px;    
        line-height: 29px;
        text-align: right;
        letter-spacing: 1px;
    }
    .sidenav ul li:nth-child(2) {
        border: none;
        margin: 0;
        padding: 10px 0px; 
    }
    .sidenav ul li a, .x {
        color: #fff;
        text-decoration: none;
        padding: 12px;
    }
    .sidenav ul li.close {
        text-align: right;
        font-size: 16px;
    }
    .x {
        display: flex;
        font-size: 26px;
        margin-left: 15px;
    }
    .x:hover {
        cursor: pointer;
        color: black;
    }
    /*Conteudo*/
    .conteudo {
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
        padding-top: 10px;
    }
    /*Formulario*/
    .formulario {
        display: flex;
        flex-direction: column;        
        width: 95%;        
    }
    .form {  
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }   
    .selecao-form:nth-child(1), .selecao-form:nth-child(3) {
        width: 25%;
    }
     /*Extrato*/
    .extrato {
        display: flex;
        flex-direction: column;
        width: 95%;
        margin: auto;
    }   
}
/*======================Mobile======================*/
@media (max-width: 590px) {

    /*Menu*/
    .sidenav ul {
        width: 80%;
    }
    /*Formulario*/
    .formulario {
        display: flex;
        flex-flow: column;
        border: none;
    }
    .form-titulo {
        display: none;
    }
    .selecao-form:nth-child(1), .selecao-form:nth-child(2), .selecao-form:nth-child(3) {
        width: 100%;
    }
    .extrato {
        border-top: 1px solid #979797;
    } 
    
}
@media (max-width: 350px) {
    .linha-extrato {
        font-size: 1em;
    }
 }



