/*Gerais*/

body {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}
/*Container de Navegação*/
.container {
    display: flex;
    justify-content: center;
}
.container-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    background-color: #E0E0E0;
    padding: 0 15px;
}
.container img {
    height: 50%;
}
.container-title {
    font-size: 1em;
}
/*Menu*/
.navegacao {
    display: none;
}
.navegacao ul {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 75%;
    background-color: #333333;   
    list-style-type: none; 
}
.navegacao ul li {
    padding: 10px 0px;    
    line-height: 19px;
}
.navegacao ul li.close {
    text-align: right;
    font-size: 16px;
}
.navegacao ul li a {
    color: #c4c4c4;
    text-decoration: none;
}
.navegacao ul li a:hover {
    background-color: #c4c4c4;
    cursor: pointer;
}


/*Conteudo */
.conteudo {
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    padding: 10px;
}
/*Formulario */
.formulario-titulo {
    display: none;
}
.selecao-form {
    flex-direction: column;
    width: 100%;
    display: flex;
}

input, select {
    height: 30px;
    width: 100%;
    border-radius: 5px; 
}*

.btn {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    height: 10vw;
    width: 100%;
    margin-top: 20px;
}
/*Extrato*/

.extrato {
   
}
h2.estrato-titulo {
    text-align: center;
    font-weight: bolder;
}

.conteudo-extrato, .linha-extrato{
    display: flex;
    justify-content: space-between; 
}
.linha-ext {
    font-size: 15px;
    padding: 10px;
}
